*{
	margin: 0;
	padding: 0;

}

ul{
	list-style: none;
}

a{
	text-decoration: none;
}

body{
	background: url(../img/bg-body.png) no-repeat 50% 0 #0e0e0e;
	font: 12px/1.67 Arial, Helvetica, sans-serif;
	padding: 40px 0;
}

.wrapper{
	width: 960px;
	margin: 0 auto;
}

					/*    HEADER BEGIS    */
header{
	background: #FFF;
	height: 97px;
	border-radius: 7px 7px 0 0;
	-o-border-radius: 7px 7px 0 0;
	-moz-border-radius: 7px 7px 0 0;
	-webkit-border-radius: 7px 7px 0 0;
}

header h1{
	float: left;
	margin: 30px 0 0 40px;
}

.tel{
	background: url(../img/bg-phone.png) repeat-x 0 0;
	padding: 3px 27px 3px 95px;
	font-size: 18px;
	font-weight: bold;
	color: #c0c0c0;
	float: right;
}

nav{
	float: right;
	clear: right;
}

nav li{
	float: right;
	margin: 20px 30px 0 5px;
}

nav li a{
	color: #808080;
	text-transform: uppercase;
	font: 13px Arial;
	font-weight: bold;
	padding: 3px 15px;
}

nav li a:hover{
	background: url(../img/current-page.gif) repeat-x 0 0;
	color: #fff;
	border-radius: 4px;
}

nav li.current-page a{
	background: url(../img/current-page.gif) repeat-x 0 0;
	padding: 3px 15px;
	color: #fff;
	border-radius: 4px;
	border: 1px black solid;
}
					/*    HEADER END    */



				/*    BEGIN FOOTER    */
footer{
	background: url(../img/footer-bg.gif) repeat-x #ededed;
	border-radius: 0px 0px 6px 6px;
	-o-border-radius: 0px 0px 6px 6px;
	-moz-border-radius: 0px 0px 6px 6px;
	-webkit-border-radius: 0px 0px 6px 6px;
}

.top-footer{
	padding: 25px 0 10px 41px;
	border-bottom: 1px solid #cccccc;
}

.top-footer > li{
	float: left;
}

.top-footer h3{
	font-size: 15px;
	font-weight: bold;
	margin-bottom: 30px;
	color: #585858;
}

.browse-site{
	width: 120px;

}

.browse-site a{
	color: #848484;
}


.our-testimonials{
	width: 315px;
	margin: 0 60px 0 115px;
}

.our-testimonials p{
	color: #848484;
}

.our-testimonials span{
	color: #000000;
	font-weight: bold;
}

.from-our-blog{
	width: 280px;
	line-height: 15px;
}

.blue{
	color: #0f4db6;
	font-weight: bold;
}

.date{
	margin-top: 16px;
}

.bottom-footer{
	padding: 25px 41px;
	border-top: 1px solid #fff;
}

.bottom-footer .logo{
	float: right;
}

.social{
	float: right;
	margin-right: 73px;
}

.social li{
	float: left;
	margin-right: auto;
}

.social a{
	display: block;
	width: 16px;
	height: 16px;
	background: url(../img/social.png) no-repeat 0 0;
}

.social a.linkedin{
	background-position: -36px 0;
	margin: 0 10px;
}

.social a.facebook{
	background-position: -68px 0;
}
				/*     END FOOTER     */



				/*    ABOUT US BEGIN    */
.page-block{
	background: url(../img/about-us-bg.png) no-repeat 0 0;
	color: #fff;
	padding: 20px 41px;
	font-size: 20px;
}

.page-block p{
	float: right;
	font-style: italic;
	line-height: 40px;
}

.page-block h1{
	font-size: 25px;
}

.main-block{
	background: url(../img/gradient.gif) repeat-y 697px 0 #fff;
}

.main-block p{
	font-size: 12px;
	color: #6f6f6f;
	margin-top: 40px;
	line-height: 24px;
}

main{
	float: left;
	width: 631px;
	margin-left: 41px;
	margin-bottom: 77px;
}

.design{
	list-style-image: url(../img/arrow.png);
	list-style-position: inside;
}

.design li{
	padding: 5px 0;
	border-bottom: 1px dotted grey;
}

.design li:last-child{
	border-bottom: none;
}

.sidebar{
	float: right;
	width: 220px;
	margin-right: 42px;
}

.sb-block{
	margin-left: 21px;
}

.sb-block h3.title{
	margin-top: 40px;
	margin-left: -21px;
	padding-left: 12px;
	font-size: 15px;
	font-weight: bold;
	color: #000;
	background-image: linear-gradient(to right, #cfcfcf, #fff);
	margin-bottom: 20px;
}

				/*     ABOUT US END     */


.top-footer:after, .main-block:after{
	content: '';
	display: table;
	clear: both;
}